*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family:'Noto Sans';
}

.wrapper{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;;
}

.center{
	max-width: 1344px;
	width: 100%;
	margin: 0 auto;
}

.first-container header{
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.30);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color:#FFF;
}

.first-container header .menu .bottom-menu{
	margin-top: -10px;
}

.first-container header .menu .top-menu{
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
	margin-bottom: 19px;
}

.first-container header .menu .left-top-menu{
	width: 100%;
	max-width: 308px;
}

.first-container header .menu .left-top-menu ul{
	display: flex;
	justify-content:space-between ;
}

.first-container header .menu .left-top-menu ul li{
	list-style-type: none;
}

.first-container header .menu .left-top-menu ul li a{
	text-decoration: none;
	color: #5A5A5A;
	font-size: 16px;
	font-weight: 300;

}

.first-container header .menu .top-menu .right-top-menu span{
	display: flex;
	justify-content: end;
}

.first-container header .menu .top-menu .right-top-menu span a{
	color: #5A5A5A;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 1px solid #5A5A5A;
}

.first-container header .menu hr{
background-color: rgba(0, 0, 0, 0.30);
stroke-width: 0.5px;
height: 1px;
}

/* .first-container header .menu .bottom-menu{
	display: flex;
	justify-content: space-between;
} */

.first-container header .menu .bottom-menu{
	display: grid;
	grid-template-columns: 208px 318px 328px 221px 188px;
	column-gap: 20px;
}

.first-container header .menu .bottom-menu .logo{
	margin-top: 42px;
	margin-bottom: 44px;
}

.first-container header .menu .bottom-menu .searc span{
	display: block;
	color: #5A5A5A;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 11px;
}

.first-container header .menu .bottom-menu .searc form{
	width: 318px;
	position: relative;
	margin: 0 auto;
}

.first-container header .menu .bottom-menu .searc form input{
	border-radius: 50px;
	border: 0.5px solid rgba(0, 0, 0, 0.46);
	color: #000;
	font-family: 'Noto Sans';
	font-size: 12px;
	font-weight: 300;
	width: 100%;
	height: 46px;
	padding: 15px 18px 15px 13px;
	outline: 0;
}

.first-container header .menu .bottom-menu .searc form input::placeholder {
	color:rgba(90, 90, 90, 0.67);
}

.first-container header .menu .bottom-menu .searc form input::-ms-input-placeholder{
	color: rgba(90, 90, 90, 0.67);
}

.first-container header .menu .bottom-menu .searc form button{
	position: absolute;
	background-color: #FFF;
	right: 18px;
	top: 13px;
}

.first-container header .menu .bottom-menu .searc{
	margin-top: 37px;
	margin-bottom: 39px;
}

.first-container header .menu .bottom-menu  .location ul li{
	list-style-type: none;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	margin-top: 8px;
}
.first-container header .menu .bottom-menu  .location ul li img{
	margin-right: 8px;
	vertical-align: middle;
}

.first-container header .menu .bottom-menu  .location ul li span{
	color: #5A5A5A;
	font-weight: 300;
}

.first-container header .menu .bottom-menu  .location ul li a{
	color: #BC1311;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 1px solid #BC1311;
}

.first-container header .menu .bottom-menu .location ul .clock{
	margin-left: 24px;
}

.first-container header .menu .bottom-menu .location{
	margin-top: 29px;
	margin-bottom: 39px;
}

.first-container header .menu .bottom-menu .contacts ul li{
	list-style-type: none;
	margin-top: 8px;
}

.first-container header .menu .bottom-menu .contacts ul li a{
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.first-container header .menu .bottom-menu .contacts ul li a span{
	font-weight: 400;
}

.first-container header .menu .bottom-menu  .contacts ul li img{
	margin-right: 8px;
	vertical-align: middle;
}

.first-container header .menu .bottom-menu  .contacts ul .con{
	margin-left: 28px;
}

.first-container header .menu .bottom-menu .contacts{
	margin-top: 29px;
	margin-bottom: 39px;
}

.first-container header .menu .bottom-menu .contacts ul li:last-child a{
	color: #BC1311;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 1px solid #BC1311;
}

.first-container header .menu .bottom-menu .basket{
	border-radius: 20px;
	border: 0.5px solid rgba(0, 0, 0, 0.30);
	margin-top: 21px;
	margin-bottom: 22px;
	width: 188px;
}

.first-container header .menu .bottom-menu .basket ul{
	list-style-type: none;
	padding:15px 30px 18px 30px;
}

.first-container header .menu .bottom-menu .basket ul .bask{
	margin-left: 60px;
	margin-top: -20px;
	margin-bottom: 8px;
}

.first-container header .menu .bottom-menu .basket ul li img{
	margin-right: 8px;
	vertical-align: top;
}

.first-container header .menu .bottom-menu .basket ul li:first-child{
	color: #5A5A5A;
	font-size: 16px;
	font-weight: 300;
}

.first-container header .menu .bottom-menu .basket ul li{
	color: #000;
}

.first-container header .menu .bottom-menu .basket ul li:last-child a{
	color: #BC1311;
	font-size: 14px;
	font-weight: 300;
	margin-left: 10px;
	text-decoration: none;
	border-bottom: 1px solid #BC1311;
}

.first-container .submenu{
	margin-top: 215px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.30);
	padding: 27px 73px 25px 73px;
}

.first-container .submenu div{
	display: flex;
	justify-content: space-between;
	
}

.first-container .submenu div a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: 300;
}

/*Полоса*/

.tape p{
	padding-bottom: 40px;
	padding-top: 40px;
}

.tape p a,
.tape p .second-element a,
.tape p .third-element a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.50);
	font-size: 14px;
	font-weight: 300;
}

.tape p .fourth-element a{
	text-decoration: none;
	color: #000;
}

/*Коттейнер2*/

.second-container h3{
	color: #000;
	font-size: 40px;
	font-weight: 300;
	line-height: 175%;
	padding-bottom: 48px;
}

.second-container div a{
	text-decoration: none;
}

.second-container div a p{
	color: #000;;
	font-size: 22px;
	font-weight: 400;
}

.second-container div .first-block div p{
	padding-top: 209px;
	padding-left: 27px;
	padding-bottom: 27px;
}

.second-container div .first-block div img{
	position: absolute;
	top: 93px;
	right: 84px;
}

.second-container>div div{
	border-radius: 50px;
	background-color: #FFF;
	width: 431px;
	position: relative;
}

.second-container div div .wrap{
	border:0.5px solid rgba(0, 0, 0, 0.46);
}

.second-container div{
	margin-bottom: 81px;
}


/*Футер сайта*/

footer{
	background-color:#000;
	padding-top: 52px;
	padding-bottom: 26px;
}

footer .wrap .top-content .left-block ul,
footer .wrap .top-content .right-block ul,
footer .wrap .top-content .soc-links ul{
	list-style-type: none;
}

footer .wrap .top-content .left-block ul li a,
footer .wrap .top-content .right-block ul li a{
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	font-weight: 300;
}

footer .wrap .top-content .soc-links p{
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 35px;
}

footer .wrap .bottom-content p{
	color: rgba(255, 255, 255, 0.50);
	font-size: 12px;
	font-weight: 300;
}

footer .wrap .top-content{
	margin-bottom: 87px;
	display: grid;
	grid-template-columns: 204px 90px 204px 1fr;
	column-gap: 138px;
}

footer .wrap .top-content .soc-links ul{
	display: flex;
	justify-content: space-between;
}

footer .wrap .top-content .soc-links div{
	width: 237px;
}

footer .wrap .top-content .left-block ul,
footer .wrap .top-content .right-block ul{
	display: grid;
	row-gap: 12px;
}

footer .wrap .top-content img{
	margin-top: 6px;
}

footer .wrap .bottom-content{
	display: flex;
	justify-content: space-between;
}

footer .wrap .bottom-content>p{
	width: 124px;
}

footer .wrap .bottom-content a{
	text-decoration: none;
}