*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family:'Noto Sans';
}

.wrapper{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;;
}

.center{
	max-width: 1344px;
	width: 100%;
	margin: 0 auto;
}



/*Контейнер2*/

.second-container{
	background-color: #EDEDED;
	background-image: url(../images/curve.svg);
	background-repeat: no-repeat;
	background-position: right 60px;
	overflow: hidden;
	position: relative;

}

.second-container .background{
	background-image:url(../images/background-line.png);
	background-position-y:bottom ;
	background-repeat: no-repeat;
	width:100%;
}

.second-container .banner .left-banner .left-grid h1{
	color: #000;
	font-size: 60px;
	font-weight: 300;
	line-height: 117%;
}

.second-container .banner .left-banner .left-grid h1 span{
font-style: italic;
font-weight: 100;
}

.second-container .banner .left-banner .left-grid{
	display: grid;
	grid-template-columns: 566px;
	grid-template-rows: 1fr 63px;
	row-gap: 60px;
	margin-bottom: 100px;
}

.second-container .banner .left-banner .left-grid .pack-btn{
	width: 223px;
	height: 66px;
}

.second-container .banner .left-banner .left-grid .btn{

	display: flex;
padding: 8px 8px 8px 47px;
justify-content: flex-end;
align-items: center;
gap: 37px; 
border-radius: 50px;
border: 1px solid #FFF;

background: #000;

backdrop-filter: blur(25px);
}

.second-container .banner .left-banner .left-grid .btn span{
	color: #FFF;
	font-size: 18px;
	
}

.second-container .banner .left-banner .left-grid .btn a img{
	width: 17px;
	height: 17px;
}

.second-container .banner .left-banner .left-grid .btn a{
	display: flex;
	padding: 14.3px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	background: #FFF;
}

.second-container .banner .left-banner{
	margin-top: 100px;
	padding-bottom: 56px;
}

.second-container .banner {
	display: flex;
	justify-content: space-between;
}

.second-container .banner .right-banner{
	position: absolute;
	bottom: -5px;
	right: 77px;
	z-index: 0;
}

.second-container .banner .right-banner img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*Контейнер 3*/
.third-container{
	padding-top: 70px;
	padding-bottom: 120px;
	width: 100%;
}

.third-container .top-block h3{
	color: #000;
	font-size: 48px;
	font-weight: 300;
	padding-bottom: 50px;
}

/* .third-container .bottom-block{
	overflow:scroll;
	display: grid;
	grid-template-columns: 318px 318px 318px 318px;
	column-gap: 24px;
	margin-top: 50px;
} */

.third-container .bottom-block .block1>img,
.third-container .bottom-block .block2>img,
.third-container .bottom-block .block3>img,
.third-container .bottom-block .block4>img{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	object-fit: cover;
}

.third-container .bottom-block .block1,
.third-container .bottom-block .block2,
.third-container .bottom-block .block3,
.third-container .bottom-block .block4{
	display: grid;
	position: relative;
}

.third-container .bottom-block .block1 .like img,
.third-container .bottom-block .block2 .like img,
.third-container .bottom-block .block3 .like img,
.third-container .bottom-block .block4 .like img{
	position: absolute;
	top: 27px;
	right: 27px;
	width: 24px;
	height: 24px;
}

.third-container .bottom-block div .purchase a img{
	border-radius: 50px;
	background: #DA0300;
	padding: 12px 26px;
	width: 34px;
	height: 34px;
}

.third-container .bottom-block div .purchase p{
	color: #000;
	font-size: 24px;
	font-weight: 500;
}

.third-container .bottom-block .block1 .purchase p:last-child,
.third-container .bottom-block .block4 .purchase p:last-child{
	color: rgba(0, 0, 0, 0.50);
	font-size: 16px;
	font-weight: 300;
	text-decoration-line: line-through;
}


.third-container .bottom-block .block1 .purchase,
.third-container .bottom-block .block2 .purchase,
.third-container .bottom-block .block3 .purchase,
.third-container .bottom-block .block4 .purchase{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.third-container .bottom-block .block1 .purchase a,
.third-container .bottom-block .block2 .purchase a,
.third-container .bottom-block .block3 .purchase a,
.third-container .bottom-block .block4 .purchase a{
	display: grid;
	justify-content: end;
}

.third-container .bottom-block .block2 .purchase>div,
.third-container .bottom-block .block3 .purchase>div{
	display: grid;
	align-items: center;
}

.third-container .bottom-block .block1 .wrap,
.third-container .bottom-block .block2 .wrap,
.third-container .bottom-block .block3 .wrap,
.third-container .bottom-block .block4 .wrap{
	padding: 8px 9px;
}

.third-container .bottom-block div .wrap>p{
	margin-bottom: 30px;
	color: #000;
	font-size: 20px;
	font-weight: 400;
}

.third-container .bottom-block .block4 .wrap>p{
	width: 99%;
}

.third-container .bottom-block div .wrap{
	justify-self: center;
}

.third-container .owl-theme .owl-dots{
	display: none;
}

.third-container .owl-carousel .owl-nav button.owl-prev{
	display: inline-grid;
	grid-template-columns: 40px;
	grid-template-rows: 40px;
	align-items: center;
	justify-items: center;
	background-color: #DBDBDB;
	border-radius: 50px;
	cursor: pointer;
	background-image: url(../images/arrow-left.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -96px;
		right: 60px;
		margin: 0;
}

.third-container .owl-carousel .owl-nav button.owl-prev span{
	display:none;
}

.third-container .owl-carousel .owl-nav button.owl-next{
	display: inline-grid;
	grid-template-columns: 40px;
	grid-template-rows: 40px;
	align-items: center;
	justify-items: center;
	background-color: #000;
	border-radius: 50px;
	cursor: pointer;
	background-image: url(../images/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 0;
	top: -96px;
	margin: 0;
}

.third-container .owl-carousel .owl-nav button.owl-next span{
	display: none;
}


/*Контейнер 4*/
.fourth-container{
	padding-top: 64px;
	padding-bottom: 64px;
	width: 100%;
	background-color: #EBEBEB;
}

.fourth-container .top-block h3{
	color: #000;
	font-size: 48px;
	font-weight: 300;
	padding-bottom: 50px;
}

.fourth-container .top-block div{
	width: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fourth-container .top-block div a{
	text-decoration: none;
}

.fourth-container .top-block div a:first-child img{
	border-radius: 50px;
	background: #DBDBDB;
	width: 16px;
	height: 16px;
	padding: 12px;
}

.fourth-container .top-block div a:last-child img{
	width: 16px;
	height: 16px;
	padding: 12px;
	border-radius: 50px;
	background: #000;
}

/* .fourth-container .bottom-block{
	overflow:scroll;
	display: grid;
	grid-template-columns: 318px 318px 318px 318px;
	column-gap: 24px;
	margin-top: 50px;
} */

.fourth-container .bottom-block .block1>img,
.fourth-container .bottom-block .block2>img,
.fourth-container .bottom-block .block3>img,
.fourth-container .bottom-block .block4>img{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.fourth-container .bottom-block .block1,
.fourth-container .bottom-block .block2,
.fourth-container .bottom-block .block3,
.fourth-container .bottom-block .block4{
	display: grid;
	position: relative;
}

.fourth-container .bottom-block .block1 .like img,
.fourth-container .bottom-block .block2 .like img,
.fourth-container .bottom-block .block3 .like img,
.fourth-container .bottom-block .block4 .like img{
	position: absolute;
	top: 27px;
	right: 27px;
	width: 24px;
	height: 24px;
}

.fourth-container .bottom-block div .purchase a img{
	border-radius: 50px;
	background: #DA0300;
	padding: 12px 26px;
	width: 34px;
	height: 34px;
}

.fourth-container .bottom-block div .purchase p{
	color: #000;
	font-size: 24px;
	font-weight: 500;
}

.fourth-container .bottom-block .block1 .purchase,
.fourth-container .bottom-block .block2 .purchase,
.fourth-container .bottom-block .block3 .purchase,
.fourth-container .bottom-block .block4 .purchase{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.fourth-container .bottom-block .block1 .purchase a,
.fourth-container .bottom-block .block2 .purchase a,
.fourth-container .bottom-block .block3 .purchase a,
.fourth-container .bottom-block .block4 .purchase a{
	display: grid;
	justify-content: end;
}

.fourth-container .bottom-block .block1 .purchase>div,
.fourth-container .bottom-block .block2 .purchase>div,
.fourth-container .bottom-block .block3 .purchase>div,
.fourth-container .bottom-block .block4 .purchase>div{
	display: grid;
	align-items: center;
}

.fourth-container .bottom-block .block1 .wrap,
.fourth-container .bottom-block .block2 .wrap,
.fourth-container .bottom-block .block3 .wrap,
.fourth-container .bottom-block .block4 .wrap{
	padding: 8px;
}

.fourth-container .bottom-block div .wrap>p{
	margin-bottom: 30px;
	color: #000;
	font-size: 20px;
	font-weight: 400;
}

.fourth-container .owl-theme .owl-dots{
	display: none;
}

.fourth-container .owl-carousel .owl-nav button.owl-prev{
	display: inline-grid;
	grid-template-columns: 40px;
	grid-template-rows: 40px;
	align-items: center;
	justify-items: center;
	background-color: #DBDBDB;
	border-radius: 50px;
	cursor: pointer;
	background-image: url(../images/arrow-left.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -96px;
		right: 60px;
		margin: 0;
}

.fourth-container .owl-carousel .owl-nav button.owl-prev span{
	display:none;
}

.fourth-container .owl-carousel .owl-nav button.owl-next{
	display: inline-grid;
	grid-template-columns: 40px;
	grid-template-rows: 40px;
	align-items: center;
	justify-items: center;
	background-color: #000;
	border-radius: 50px;
	cursor: pointer;
	background-image: url(../images/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 0;
	top: -96px;
	margin: 0;
}

.fourth-container .owl-carousel .owl-nav button.owl-next span{
	display: none;
}

/*Контейнер 5*/

.fifth-container{
	padding-top: 120px;
	padding-bottom:120px;
}

.fifth-container .top-content .first-block a,
.fifth-container .top-content .second-block a,
.fifth-container .top-content .third-block a{
	text-decoration: none;
}

.fifth-container .top-content .first-block a h5,
.fifth-container .top-content .second-block a h5,
.fifth-container .top-content .third-block a h5{
	color: #000;
	font-size: 30px;
	font-weight: 400;
}

.fifth-container .top-content .first-block a div .content,
.fifth-container .top-content .second-block a div .content,
.fifth-container .top-content .third-block a .content{
	color: #000;
	font-size: 18px;
	font-weight: 300;
}

.fifth-container .top-content .first-block a .date,
.fifth-container .top-content .second-block a .date{
	display: grid;
	align-items: end;
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.fifth-container .top-content .first-block,
.fifth-container .top-content .second-block,
.fifth-container .top-content .third-block{
	border-radius: 50px;
	border: 1px solid #C5C5C5;
	background: #FFF;
	padding: 35px 34px 34px 33px;
	height: 296px;
	display: grid;
}

.fifth-container .top-content .first-block a,
.fifth-container .top-content .second-block a{
	display: grid;
}

.fifth-container .top-content .first-block a div{
	display: grid;
	grid-template-rows: 82px 50px;
	row-gap: 24px;
}

.fifth-container .top-content .second-block a div{
	display: grid;
	grid-template-rows: 41px 50px;
	row-gap: 24px;
}

.fifth-container .top-content .third-block a div{
	display: grid;
	grid-template-rows: 41px 25px;
	row-gap: 24px;
}

.fifth-container .top-content{
	display: grid;
	grid-template-columns: 432px 432px 432px;
	justify-content: space-between;
	padding-bottom: 120px;
}

.fifth-container .top-content .first-block{
	background-image: url(../images/icon-bg1.svg);
	background-repeat: no-repeat;
	background-position: right 31px bottom;
}

.fifth-container .top-content .second-block{
	background-image: url(../images/icon-bg2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.fifth-container .top-content .third-block{
	background-image: url(../images/icon-bg3.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.fifth-container .top-content .first-block:hover,
.fifth-container .top-content .second-block:hover,
.fifth-container .top-content .third-block:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.fifth-container .bottom-content{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	padding: 42px 50px 42px 33px;
	border-radius: 50px;
	background: linear-gradient(271deg, #CB0F0D -5.79%, #DA0300 120.62%);
}

.fifth-container .bottom-content .icon1{
	position: absolute;
	left: 339px;
	bottom: 0;
}

.fifth-container .bottom-content .icon2{
	position: absolute;
	right: 0;
	top: 0;
}

.fifth-container .bottom-content .icon3{
	position: absolute;
	top: 29px;
	left: 282px;
}

.fifth-container .bottom-content .icon4{
	position: absolute;
	top: 23px;
	left: 313px;
}

.fifth-container .bottom-content .first-block{
	display: grid;
	row-gap: 20px;
}

.fifth-container .bottom-content .first-block h6{
	color: #FFF;
	font-size: 30px;
	font-weight: 400;
}

.fifth-container .bottom-content .first-block p{
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
}

.fifth-container .bottom-content .second-block form{
	position: relative;
	margin: 0 auto;
}

.fifth-container .bottom-content .second-block form input{
	border-radius: 50px;
	background: #FFF;
	font-family: 'Noto Sans';
	color: rgba(0, 0, 0, 0.80);
	font-size: 16px;
	font-weight: 300;
	width: 364px;
	padding: 26px 34px;
	outline: 0;
}

.fifth-container .bottom-content .second-block form input::placeholder {
	color:rgba(0, 0, 0, 0.80);
}

.fifth-container .bottom-content .second-block form input::-ms-input-placeholder{
	color:rgba(0, 0, 0, 0.80);
}

.fifth-container .bottom-content .second-block form button{
	border-radius: 50px;
	background-color: #000;
	width: 382px;
	padding: 21px 26px;
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	position: absolute;
	height: 75px;
	margin-left: 24px;
}

/* Контейнер 6 */

.sixth-container .left-content>img{
	display: none;
}

.sixth-container .left-content h3{
	color: #000;
	font-size: 48px;
	font-weight: 300;
}

.sixth-container .left-content p{
	color: #000;
	font-size: 18px;
	font-weight: 300;
	width: 540px;
}

/*Пересмотреть*/
.sixth-container .left-content p:last-child{
	height: 250px;
}

.sixth-container .left-content p a{
	text-decoration: none;
	color: #000;
}

.sixth-container{
	padding-top: 63px;
	padding-bottom: 104px;
	display: grid;
	grid-template-columns: 578px 1fr;
}

.sixth-container .left-content{
	padding-left: 37px;
	display: grid;
	row-gap: 50px;
}

.sixth-container .right-content{
	display: grid;
	justify-items: center;
	grid-template-rows: 462px 188px;
}

.sixth-container .right-content div p{
	color: #000;
	font-size: 18px;
	font-weight: 300;
	width: 511px;
}

.sixth-container .right-content div p span:first-child{
	color: #000;
	font-size: 18px;
	font-weight: 500;
}

.sixth-container .right-content div p span:last-child{
	color: #BC1311;
	font-size: 18px;
	font-style: italic;
	font-weight: 500;
}

.sixth-container .right-content div{
	text-align:center;
	padding: 44px 28px 44px 36px;
	border-radius: 50px;
	border: 0.5px solid rgba(0, 0, 0, 0.30);
	background: #FFF;
	position: relative;
}

.sixth-container .right-content div img{
	position: absolute;
	top: -22px;
	left: 48%;
}

.sixth-container .right-content>img{
	padding-top: 135px;
}

/*Адаптивная часть*/

@media screen and (max-width: 1350px){

	.fifth-container .top-content{
		grid-template-columns: 32% 32% 32%;
	}
}

@media screen and (max-width: 1300px){
	.second-container .banner .right-banner{
		right: 44px;
	}

	.second-container .banner{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.second-container .banner .left-banner .left-grid{
		grid-template-columns: 1fr;
	}


	.fifth-container .top-content .first-block{
		background-size: 48%;
	}

	.fifth-container .top-content .second-block,
	.fifth-container .top-content .third-block{
		background-size: 60%;
	}

	.fifth-container .top-content .first-block a div,
	.fifth-container .top-content .second-block a div,
	.fifth-container .top-content .third-block a div{
		grid-template-rows: 0fr 0fr;
		row-gap: 10%;
	}

	.sixth-container{
		grid-template-columns: 1fr;
	}

	.sixth-container .left-content{
		padding-left: 0;
	}

	.sixth-container .left-content>img{
		display: block;
		justify-self: center;
	}

	.sixth-container .left-content h3{
		margin: 0 auto;
		font-size: 46px;
	}

	.sixth-container .left-content p{
		justify-self: center;
		width: 95%;
	}

	.sixth-container .right-content>img{
		display: none;
	}

	.sixth-container .right-content{
		grid-template-rows: 1fr;
		margin-top: 50px;
	}

	.sixth-container .left-content p:last-child{
		height: 100%;
	}



}

@media screen and (max-width:1024px){

	.second-container .banner .left-banner .left-grid h1{
		font-size: 50px;
	}

	.second-container .banner .right-banner{
		right: -60px;
	}

	.third-container .top-block h3,
	.fourth-container .top-block h3 {
		font-size: 40px;
	}

	.fifth-container .top-content{
		grid-template-columns: 49% 49%;
		column-gap: 2%;
		row-gap: 30px;
	}

	/* .fifth-container .top-content .third-block{
		grid-column: 1/span2;
	}

	.fifth-container .top-content .third-block{
		background-size: 50%;
		height: 100%;
    width: 95%;
	} */

	.sixth-container .left-content>img{
		height: 100%;
    width: 52%;
	}

	.sixth-container .left-content h3{
		font-size: 36px;
		text-align: center;
	}

}

@media screen and (max-width:768px){

	.second-container{
		background-color: #FFF;
	}

	.second-container .background{
		background-position: bottom center;
	}

	.second-container .banner{
		grid-template-columns: 1fr;
    grid-template-rows: 1fr 475px;
	}


	.second-container .banner .left-banner{
		margin-top: 34px;
		padding-bottom: 0;
	}

	.second-container .banner .left-banner .left-grid{
		row-gap: 50px;
		justify-items: center;
		text-align: center;
		margin-bottom: 0;
	}

	.second-container .banner .left-banner .left-grid h1{
    font-size: 50px;
    width: 480px;
	}

	.second-container .banner .right-banner img{
		height: 95%;
    width: 95%;
	}

	.third-container .owl-carousel .owl-nav button.owl-prev,
	.third-container .owl-carousel .owl-nav button.owl-next,
	.fourth-container .owl-carousel .owl-nav button.owl-next,
	.fourth-container .owl-carousel .owl-nav button.owl-prev{
		top: -88px;
	}

	.third-container .top-block h3,
	.fourth-container .top-block h3{
		font-size: 32px;
	}

	.fifth-container .top-content .first-block{
		background-size: 35%;
	}

	.fifth-container .top-content .second-block,
	.fifth-container .top-content .third-block{
		background-size: 45%;
	}

	.fifth-container .top-content .first-block a h5,
	.fifth-container .top-content .second-block a h5,
	.fifth-container .top-content .third-block a h5{
		font-size: 26px;
	}

	.sixth-container .right-content div{
		padding: 44px 19px 34px 27px;
	}

	.sixth-container .left-content>img{
		width: 75%;
	}

	.sixth-container{
		padding-top: 71px;
    padding-bottom: 57px;
	}

}

@media screen and (max-width:600px){

	.second-container .banner{
		grid-template-rows: 1fr 383px;
	}

	.second-container .banner .left-banner .left-grid h1{
		font-size: 38px;
		width: 100%;
	}

	.second-container .banner .right-banner{
		text-align: center;
	}

	.second-container .banner .right-banner img{
		height: 80%;
    width: 80%;
	}

	.third-container .owl-carousel .owl-nav button.owl-prev,
	.third-container .owl-carousel .owl-nav button.owl-next,
	.fourth-container .owl-carousel .owl-nav button.owl-next,
	.fourth-container .owl-carousel .owl-nav button.owl-prev{
		top: 106%;
	}

	.third-container .owl-carousel .owl-nav button.owl-prev,
	.fourth-container .owl-carousel .owl-nav button.owl-prev{
		right:60%;
	}

	.third-container .owl-carousel .owl-nav button.owl-next,
	.fourth-container .owl-carousel .owl-nav button.owl-next{
		right: 30%;
	}
	
	.fourth-container{
		padding-bottom: 120px;
	}

	.fifth-container .top-content{
		grid-template-columns: 90%;
		justify-content: space-around;
	}

	.sixth-container .right-content div p,
	.sixth-container .left-content p{
		width: 100%;
	}
	
	.sixth-container .left-content h3{
		font-size: 36px;
	}

	.sixth-container .left-content>img{
		width: 100%;
	}

}

@media screen and (max-width: 425px){

	.second-container{
		background-position: right -15px top 168px;
	}

	.second-container .background{
		background-position: bottom 0 left -500px;
	}

	.second-container .banner{
		grid-template-rows: 1fr 383px;
	}

	.second-container .banner .right-banner{
		right: -10px;
	}

	.second-container .banner .right-banner img{
		width: 320px;
    height: 349px;
	}

	.second-container .banner .left-banner{
		margin-top: 32px;
	}

	.second-container .banner .left-banner .left-grid{
		row-gap: 40px;
	}

	.second-container .banner .left-banner .left-grid h1{
		font-size: 30px;
	}

	.fifth-container{
		padding-top: 39px;
		padding-bottom: 122px;
	}

	.fifth-container .top-content .first-block a h5,
	.fifth-container .top-content .second-block a h5,
	.fifth-container .top-content .third-block a h5{
		font-size: 24px;
	}

	.fifth-container .top-content{
		grid-template-columns:100%;
		row-gap: 24px;
	}

	.fifth-container .top-content .first-block{
		background-size: 50%;
	}

	.fifth-container .top-content .second-block,
	.fifth-container .top-content .third-block{
		background-size: 60%;
	}

	.sixth-container .left-content h3{
		font-size: 30px;
		text-align: left;
		width: 322px;
	}

	.sixth-container .right-content div{
		padding: 44px 19px 34px 27px;
    width: 281px;
    height: 161px;
	}

	.sixth-container .right-content div p{
		font-size: 16px;
		width:100%;
	}

	.sixth-container .left-content>img{
		width: 324px;
		height: 114px;
	}

	.sixth-container .left-content p{
		width: 322px;
	}
}




