*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family:'Noto Sans';
}

.wrapper{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;
}

.center{
	max-width: 1344px;
	width: 100%;
	margin: 0 auto;
}

/*Полоса*/

.tape p{
	padding-bottom: 40px;
	padding-top: 40px;
}

.tape p a,
.tape p .second-element a,
.tape p .third-element a,
.tape p .fourth-element a,
.tape p .fifth-element a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.50);
	font-size: 14px;
	font-weight: 300;
}

.tape p .fifth-element a{
	text-decoration: none;
	color: #000;
}

/*Контейнер 2*/

.second-container{
	padding-bottom: 106px;
}

.second-container h3{
	color: #000;
	font-size: 40px;
	font-weight: 300;
	line-height: 175%;
	padding-bottom: 60px;
}

.second-container .content .common{
	display: grid;
	position: relative;
}

.second-container .content .common .like img{
	position: absolute;
	top: 27px;
	right: 27px;
}

.second-container .content .common .like img:active{
	background-image: url('images/red-like.svg');
	width: 24px;
	height: 24px;
	
}

.second-container .content .block1 .new img{
	position: absolute;
	top:12px;
	left: 12px;
}

.second-container .content{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: 477px 477px 477px;
	column-gap: 24px;
	row-gap: 24px;
}

.second-container .content .common .purchase a img{
	border-radius: 50px;
	background: #DA0300;
	padding: 12px 26px;
}

.second-container .content .common .purchase div p{
	color: #000;
	font-size: 24px;
	font-weight: 500;
}

.second-container .content .common .purchase{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-container .content .common .wrap p{
	color: #000;
	font-size: 20px;
	font-weight: 400;
}

.second-container .content .common .wrap{
	/* width: 300px; */
	grid-template-columns: 300px;
	margin: 8px auto 0 auto;
	display: grid;
	row-gap: 30px;
}

.buttons{
	display: none;
}

.buttons .left-arrow{
	border-radius: 50px;
	background: #DBDBDB;
	width: 16px;
	height: 16px;
	padding: 12px;
}

.buttons .right-arrow{
	width: 16px;
	height: 16px;
	padding: 12px;
	border-radius: 50px;
	background: #000;
}

.buttons p{
	color: #000;
	font-size: 12px;
	font-weight: 300;
}

.buttons p span{
	color: #BC1311;
	font-size: 12px;
	font-weight: 500;
}


@media screen and (max-width: 1350px){
	.center{
		width: calc(100% - 44px);
	}

	.second-container .content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media screen and (max-width: 768px){
	.second-container .content .common>img{
		width: 431px;
		justify-self: center;
	}

	.second-container .content .common .wrap p{
		font-size: 22px;
	}

	.second-container .content .common .wrap{
		grid-template-columns: 400px;
    justify-content: center;
	}

	.second-container .content .block5,
	.second-container .content .block6,
	.second-container .content .block7,
	.second-container .content .block8,
	.second-container .content .block9,
	.second-container .content .block10,
	.second-container .content .block11{
		display: none;
	}

	.tape p{
		padding-top: 18px;
	}

	.second-container{
		padding-bottom: 40px;
	}

	.buttons{
		display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 42px;
	}

	.buttons p,
	.buttons p span{
		font-size: 16px;
	}

}

@media screen and (max-width: 600px){
	.second-container .content .common .wrap{
		grid-template-columns: 300px;
	}

	.second-container .content .common>img{
		width: 350px;
	}

	.second-container .content .common .wrap p{
		font-size: 20px;
	}

	.buttons p,
	.buttons p span{
		font-size: 14px;
	}

	.buttons{
    justify-content: space-around;
    width: 327px;
	}
}

@media screen and (max-width: 425px){
	.second-container .content .common>img{
		width: 318px;
	}

	.second-container h3{
		font-size: 30px;
		padding-bottom: 40px;
	}

	.tape p a,
	.tape p .second-element a,
	.tape p .third-element a,
	.tape p .fifth-element a{
			font-size: 12px;
	}

	.buttons p,
	.buttons p span{
		font-size: 12px;
	}

	.buttons{
    justify-content: space-evenly;
	}
}


	@media screen and (max-width: 375px){

		.second-container .content .common>img{
			width: 300px;
		}

		.second-container>div div .wrap a p{
			font-size: 18px;
		}
		.second-container h3{
			font-size: 28px;
		}
		
		.tape p a,
		.tape p .second-element a,
		.tape p .third-element a,
		.tape p .fifth-element a{
				font-size: 10px;
		}

		.tape p {
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}