*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family:'Noto Sans';
}

.wrapper{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;;
}

.center{
	max-width: 1344px;
	width: 100%;
	margin: 0 auto;
}


/*Полоса*/

.tape p{
	padding-bottom: 40px;
	padding-top: 40px;
}

.tape p a,
.tape p .second-element a,
.tape p .third-element a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.50);
	font-size: 14px;
	font-weight: 300;
}

.tape p .fourth-element a{
	text-decoration: none;
	color: #000;
}

/*Коттейнер2*/

.second-container h3{
	color: #000;
	font-size: 40px;
	font-weight: 300;
	line-height: 175%;
	padding-bottom: 48px;
}

.second-container div a{
	text-decoration: none;
}

.second-container div a p{
	color: #000;;
	font-size: 22px;
	font-weight: 400;
}

.second-container div .first-block div p{
	padding-top: 209px;
	padding-left: 27px;
	padding-bottom: 27px;
}

.second-container div .first-block div img{
	position: absolute;
	top: 93px;
	right: 84px;
}

.second-container>div div{
	border-radius: 50px;
	background-color: #FFF;
	width: 431px;
	position: relative;
}

.second-container div div .wrap{
	border:0.5px solid rgba(0, 0, 0, 0.46);
}

.second-container div{
	margin-bottom: 81px;
}

