*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family:'Noto Sans';
}

.wrapper{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;
}

.center{
	max-width: 1344px;
	width: 100%;
	margin: 0 auto;
}

/*Контейнер 2*/

.second-container{
	padding-bottom: 100px;
	padding-top: 70px;
}

.second-container h3{
	color: #000;
	font-size: 48px;
	font-weight: 300;
	padding-bottom: 44px;
}

.second-container .content .promo-text h5{
	color: #000;
	font-size: 36px;
	font-weight: 400;
	padding-bottom: 30px;
	margin-top: 39px;
}

.second-container .content .promo-text p{
	color: rgba(0, 0, 0, 0.80);
	font-size: 18px;
	font-weight: 300;
}

.second-container .content .promo-text p a{
	text-decoration: none;
	text-decoration-line: underline;
	color: rgba(0, 0, 0, 0.80);
}

.second-container .content .promo-code p{
	color: #FFF;
	font-size: 16px;
	font-weight: 300;
}

.second-container .content .promo-code span{
font-size: 36px;
font-weight: 400;
color: #FFF;
}

.second-container .content .promo-code p span{
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFF;
}

.second-container .content .promo-code{
	margin-bottom: 34px;
	margin-top: 42px;
	display: grid;
	align-content: space-between;
	padding: 25px 27px;
	height: 103px;
	width: 392px;
	border-radius: 30px;
	border: 1px solid #BC1311;
	background: linear-gradient(104deg, #BC1311 -6.1%, #DA0300 110.39%);
}

.second-container .content img{
	grid-row: 1/span2;
	grid-column: 2;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
}

.second-container .content{
	display: grid;
	grid-template-columns: 602px 562px;
	grid-template-rows: 1fr 0fr;
	justify-content: space-between;
	align-items: end;
	padding: 12px 10px 14px 25px;
	border-radius: 50px;
	border: 1px solid #CCC;
}

/*Контейнер 3*/
.third-container{
	padding-bottom: 120px;
	width: 100%;
}

.third-container .top-block h3{
	color: #000;
	font-size: 48px;
	font-weight: 300;
	padding-bottom: 50px;
}

.third-container .bottom-block .block1>img,
.third-container .bottom-block .block2>img,
.third-container .bottom-block .block3>img,
.third-container .bottom-block .block4>img{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	object-fit: cover;
}

.third-container .bottom-block .block1,
.third-container .bottom-block .block2,
.third-container .bottom-block .block3,
.third-container .bottom-block .block4{
	display: grid;
	position: relative;
}

.third-container .bottom-block .block1 .like img,
.third-container .bottom-block .block2 .like img,
.third-container .bottom-block .block3 .like img,
.third-container .bottom-block .block4 .like img{
	position: absolute;
	top: 27px;
	right: 27px;
	width: 24px;
	height: 24px;
}

.third-container .bottom-block div .purchase a img{
	border-radius: 50px;
	background: #DA0300;
	padding: 12px 26px;
	width: 34px;
	height: 34px;
}

.third-container .bottom-block div .purchase p{
	color: #000;
	font-size: 24px;
	font-weight: 500;
}

.third-container .bottom-block .block1 .purchase p:last-child,
.third-container .bottom-block .block4 .purchase p:last-child{
	color: rgba(0, 0, 0, 0.50);
	font-size: 16px;
	font-weight: 300;
	text-decoration-line: line-through;
}


.third-container .bottom-block .block1 .purchase,
.third-container .bottom-block .block2 .purchase,
.third-container .bottom-block .block3 .purchase,
.third-container .bottom-block .block4 .purchase{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.third-container .bottom-block .block1 .purchase a,
.third-container .bottom-block .block2 .purchase a,
.third-container .bottom-block .block3 .purchase a,
.third-container .bottom-block .block4 .purchase a{
	display: grid;
	justify-content: end;
}

.third-container .bottom-block .block2 .purchase>div,
.third-container .bottom-block .block3 .purchase>div{
	display: grid;
	align-items: center;
}

.third-container .bottom-block .block1 .wrap,
.third-container .bottom-block .block2 .wrap,
.third-container .bottom-block .block3 .wrap,
.third-container .bottom-block .block4 .wrap{
	padding: 8px 9px;
}

.third-container .bottom-block div .wrap>p{
	margin-bottom: 30px;
	color: #000;
	font-size: 20px;
	font-weight: 400;
}

.third-container .bottom-block .block4 .wrap>p{
	width: 99%;
}

.third-container .bottom-block div .wrap{
	justify-self: center;
}

.third-container .owl-theme .owl-dots{
	display: none;
}

.third-container .owl-carousel .owl-nav button.owl-prev{
	display: inline-grid;
	grid-template-columns: 40px;
	grid-template-rows: 40px;
	align-items: center;
	justify-items: center;
	background-color: #DBDBDB;
	border-radius: 50px;
	cursor: pointer;
	background-image: url(images/arrow-left.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -96px;
		right: 60px;
		margin: 0;
}

.third-container .owl-carousel .owl-nav button.owl-prev span{
	display:none;
}

.third-container .owl-carousel .owl-nav button.owl-next{
	display: inline-grid;
	grid-template-columns: 40px;
	grid-template-rows: 40px;
	align-items: center;
	justify-items: center;
	background-color: #000;
	border-radius: 50px;
	cursor: pointer;
	background-image: url(images/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 0;
	top: -96px;
	margin: 0;
}

.third-container .owl-carousel .owl-nav button.owl-next span{
	display: none;
}

@media screen and (max-width: 1350px){
	.center{
		width: calc(100% - 44px);
	}
}

@media screen and (max-width: 1300px){

	.second-container .content{
		grid-template-columns: 45% 50%;
		grid-template-rows: 0fr 0fr;
	}

	.second-container .content .promo-text h5{
		font-size: 29px;
	}

	.second-container .content .promo-text p{
		font-size: 16px;
	}

	.second-container .content .promo-code{
		width: 345px;
	}
}

@media screen and (max-width: 1024px){

	.second-container .content{
		grid-template-columns: 46% 54%;
		justify-self: center;
	}

	.second-container .content .promo-text{
		grid-column: 1/span2;
	}

	.second-container .content .promo-code{
		align-self: center;
		width: 75%;
    grid-row: 2;
    grid-column: 1;
	}

	.second-container .content img{
		grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
	}

	.second-container .content .promo-code p{
		font-size: 14px;
	}

	.second-container .content .promo-code span{
		font-size: 34px;
	}

	.third-container .top-block h3{
		font-size: 40px;
	}

	.third-container .bottom-block div .wrap>p{
		font-size: 18px;
	}

	.third-container .bottom-block div .purchase p{
		font-size: 22px;
	}
}

@media screen and (max-width: 768px){

	.second-container .content .promo-code{
		height: 126px;
	}

	.third-container .owl-carousel .owl-nav button.owl-prev,
	.third-container .owl-carousel .owl-nav button.owl-next,
	.fourth-container .owl-carousel .owl-nav button.owl-next,
	.fourth-container .owl-carousel .owl-nav button.owl-prev{
		top: -88px;
	}

	.third-container .top-block h3{
		font-size: 32px;
	}

	.third-container .bottom-block div .wrap>p{
		font-size: 20px;
	}

	.third-container .bottom-block div .purchase p{
		font-size: 24px;
	}
}

@media screen and (max-width: 600px){

	.second-container .content{
		padding: 12px 25px 14px 25px;
		grid-template-columns: 100%;
	}

	.second-container .content img{
		grid-row: 2;
    grid-column: 1/span2;
	}

	.second-container .content .promo-code{
    grid-row: 3;
    grid-column: 1;
		justify-self: center;
	}

	.second-container .content .promo-code{
		height: 103px;
	}

	.second-container .content .promo-code span{
		font-size: 36px;
	}

	.second-container .content .promo-text h5{
		font-size: 30px;
	}

	.second-container .content .promo-text p{
		font-size: 18px;
	}

	.second-container{
		padding-top: 18px;
		padding-bottom: 104px;
	}

	.second-container h3{
		padding-bottom: 40px;
		font-size: 40px;
	}

	.third-container .owl-carousel .owl-nav button.owl-prev,
	.third-container .owl-carousel .owl-nav button.owl-next{
		top: 106%;
	}

	.third-container .owl-carousel .owl-nav button.owl-prev{
		right:60%;
	}

	.third-container .owl-carousel .owl-nav button.owl-next{
		right: 30%;
	}

	.third-container .top-block h3{
		text-align: center;
	}
	
}

@media screen and (max-width: 425px){

	.second-container .content .promo-text h5{
		font-size: 24px;
	}

	.second-container .content{
		grid-template-rows: 0fr 1fr 0px;
	}

	.second-container .content img{
		width: 255px;
    justify-self: center;
		margin-bottom: 42px;
	}

	.second-container .content .promo-text h5{
		margin-top: 24px;
	}

	.second-container .content .promo-code{
		width: 100%;
	}

	.second-container h3{
		font-size: 30px;
	}

	.second-container .content .promo-text p{
		margin-bottom: 15px;
	}

	.third-container{
		padding-top: 43px;
	}
}

@media screen and (max-width: 375px){

	.second-container .content .promo-code p{
		font-size: 12px;
	}

	.second-container .content .promo-code span{
		font-size: 34px;
	}
}
